name: Test1
run-name: ${{ github.actor }} is testing out Github Actions
on: [push]
jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - run: echo "cloned ${{ github.repository }}"
      - name: cache for dependencies
        uses: actions/cache@v4
        with:
          path: test1dependencies
          key: ${{ runner.os }}-test1dependencies-${{ hashFiles('test1version.txt')}}
      - name: produce dependencies
        run: |
          if [ ! -d "test1dependencies" ]; then
            echo "producing dependencies!"
            mkdir test1dependencies
            printf "#pragma once\n\n#define hiddennumber 100\n" > test1dependencies/dependency.h
          fi
      - name: Compile test1
        run: |
          gcc -o ./test1 ./test1.c -Itest1dependencies
          chmod +x ./test1
      - name: Create timestamp
        id: timestamp
        run: echo "value=$(date +'%F_%H-%M-%S')" >> $GITHUB_OUTPUT
      - name: Create Tag
        run: |
          git tag test1-${{ steps.timestamp.outputs.value }}
          git push origin test1-${{ steps.timestamp.outputs.value }}
      - name: Create Release
        id: create_test1_release
        uses: softprops/action-gh-release@v2
        with:
          name: Release test1 ${{ steps.timestamp.outputs.value }}
          tag_name: test1-${{ steps.timestamp.outputs.value }}
          body: new test1 prerelease
          draft: false
          prerelease: true
          files: test1
          token: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
