name: Test1
run-name: ${{ github.actor }} is testing out Github Actions
on: [push]
jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - run: echo "cloned ${{ github.repository }}"
      - name: Compile test1
        run: |
          gcc -o ./test1 ./test1.c
          chmod +x ./test1
      - name: Create Tag
        run: |
          git tag test1-${{ github.sha }}
          git push origin test1-${{ github.sha }}
      - name: Create Release
        id: create_test1_release
        uses: softprops/action-gh-release@v2
        with:
          name: Release test1 ${{ github.sha }}
          tag_name: test1-${{ github.sha }}
          body: new test1 prerelease
          draft: false
          prerelease: true
          files: test1
          token: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
